    body{
      -webkit-animation: colorchange 60s infinite; 
      animation: colorchange 60s infinite;
    }


    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      border: 0;
      -webkit-animation: colorchange 60s infinite; 
      animation: colorchange 60s infinite;
    }

    .navbar-brand {
      font-family: sans-serif;
    }

    .nav {
      color: white;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 100%;
      -webkit-animation: colorchange 60s infinite; 
      animation: colorchange 60s infinite;
    }


    @-webkit-keyframes colorchange {
 
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
    }
 
 
    @keyframes colorchange {
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
    } 

    .jumbotron{
      height: 100%;
      -webkit-animation: colorchange 60s infinite; 
      animation: colorchange 60s infinite;
    }



    }